<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction Madness</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-fixed">
                <div class="navbar-inner"><a href="/" class="brand">Auction Madness</a></div>
            </nav>
        </div>
        <div class="body">
            <!-- Templates/auctions.html.ejs -->
            <%= auctionsTemplate %>
        </div>
        <div class="footer">Footer to go here</div>
    </div>

    <!-- insert the IO cdn script tag here -->
    <!-- initialize the IO connection here -->
</body>
</html>